.profile-page {
  background: var(--background-secondary-main);
  padding: var(--app-primary-page-padding) var(--app-primary-page-padding) var(--app-primary-page-padding) var(--sidebar-full-width);
  min-height: 100vh;
  height: 100%;
}

.profile-page__header {
  padding-bottom: toRem(24);
  border-bottom: toRem(1) solid var(--fill-icon-primary);;
}

.profile-page__wrapper {
  border-radius: toRem(16);
  background: var(--white);
  min-height: calc(100vh - (2 * var(--app-primary-page-padding)));
  padding: toRem(32) toRem(28);
  display: flex;
  flex-direction: column;
}

.profile-page__content-wrapper {
  margin-top: toRem(24);
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.profile-page__title {
  color: var(--text-icon-primary);
  font-size: toRem(32);
  font-weight: 700;
  line-height: toRem(40);
}

.profile-page__content-actions {
  display: flex;
  align-items: center;
}

.profile-page__description {
  color: var(--text-icon-secondary, #687281);
  margin-top: toRem(8);
  font-size: toRem(16);
  font-weight: 400;
  line-height: toRem(20);
}

.profile-page__content {
  width: 64.5vw;
}

.profile-page__content-tiles {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: toRem(24);
  grid-template-columns: repeat(3, 1fr);
}

.profile-page__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: toRem(40);
}

.profile-page__content-title {
  color: var(--text-icon-primary);
  font-size: toRem(16);
  font-weight: 500;
  line-height: toRem(20);
}

.profile-page__content-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: toRem(140) 0;
  background: var(--background-secondary-light);
  border-radius: toRem(8);
  border: toRem(1) dashed var(--border-primary-light);
}

.profile-page__content-empty-icon {
  color: var(--fill-icon-primary);
  width: toRem(88);
  height: toRem(88);
}

.profile-page__content-empty-title {
  color: var(--text-icon-primary);
  font-size: toRem(24);
  font-weight: 700;
  line-height: toRem(30);
  margin-top: toRem(16);
}

.profile-page__content-empty-description {
  color: var(--text-icon-secondary);
  font-size: toRem(14);
  font-weight: 400;
  line-height: toRem(20);
  margin-top: toRem(8);
}

.profile-page__content-empty-button {
  margin-top: toRem(24);
}