.app-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: toRem(24);
  padding: toRem(24) var(--app-padding-right) toRem(24) var(--app-padding-left);
  border-bottom: var(--border-primary-main);
  min-height: 100vh;
  height: 100%;
  background: var(--background-secondary-main);
  position: absolute;
  left: 0;
  width: var(--sidebar-full-width);

  @include respond-to(tablet) {
    flex-wrap: wrap;
  }
}

.app-navbar__logo {
  margin-right: auto;
  max-width: toRem(56);
  margin-bottom: toRem(48);

  @include respond-to(xsmall) {
    width: 100%;
  }
}

.app-navbar__link {
  padding: toRem(12);
  margin-top: toRem(24);

  &:first-child {
    margin-left: auto;
  }

  &.active {
    border-radius: toRem(48);
    background: var(--active-icon-primary);

    svg {
      color: var(--white);
      fill: var(--active-icon-primary);
    }
  }
}
