.sign-in-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("/imgs/app-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% / cover;
  backdrop-filter: opacity(0.1);

  &:before {
    content: "";
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-secondary-main);
    opacity: 0.25;
    filter: blur(#{toRem(2)});
    z-index: var(--z-index-hidden);
  }

  &:after {
    background: url("/imgs/cells-bg.png") repeat top center / contain;
    content: "";
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-hidden);
  }

  @include respond-to(small) {
    background-position: center center;
    background-size: cover;
  }
}

.sign-in-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 36%;
  padding: toRem(60) toRem(50) toRem(90);
  border-radius: toRem(18);
  background: rgba(255, 255, 255, 0.82);
}

.sign-in-page__icon {
  width: toRem(88);
  height: toRem(88);
}

.sign-in-page__title{
  color: var(--text-icon-primary);
  font-size: toRem(32);
  font-weight: 700;
  margin: toRem(16) 0;
}

.sign-in-page__description {
  color: var(--text-icon-secondary);
  text-align: center;
  font-size: toRem(16);
  margin-bottom: toRem(32);
  line-height: toRem(20);
  max-width: toRem(420);
}

.sign-in-page__logo-wrapper {
  position: absolute;
  top: toRem(25);
  left: toRem(65);
}